@import "tailwindcss";
#root{
  background-color: #0F0E0E;
  margin: 0px;
  padding: 0px;
}
.main-cnt{
  position: relative;
}
.widget button{
  box-sizing: border-box;
  margin-left: auto;
  margin-top: auto;
  display: inline-flex;
  /* height: 50px;
  width: 50px;  */
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  background-color: #f59e0b;
  border-style: none;
  outline: none;

}

.hero-sec{
  background-color: #0F0E0E;
  background-image: url(../public/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 65% 0%;
  padding-bottom: 100px;
} 

.icon-div{
  background-image: url(../public/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;

  fill: #0E0511;
  /* box-shadow: 0px -1px 1px 0px rgba(229, 228, 228, 0.49) inset; */


}

.main-sec{
  /* width: 756px; */
  border-radius: 25px 25px 0px 0px;
  background: rgba(217, 217, 217, 0.08);
  backdrop-filter: blur(41.16666793823242px);
  flex-shrink: 0;
}

.details-row{
  overflow: hidden;
}
 .details-cnt{
  padding-bottom: 150px;
 }
.details-cnt div{
  padding: 3px 0px 3px 10px ;
}
.details-cnt div h1{
  color: white;

  font-family: "Josefin Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.details-cnt div h2 {
  font-family: "Josefin Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(91deg, #0CFAF5 0.1%, #8766E1 22.24%, rgba(220, 0, 211, 0.73) 72.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.details-cnt div p{
  color: white;

font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: light;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.btn-blr {
  position: relative;
}

.btn-blr img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.btn-self{
  color: white;
  position: relative;
  z-index: 1;
  outline: none;
  border: 1px;
  border-radius: 20px;
  background: linear-gradient(90deg, #0CFAF5 0.1%, #8766E1 22.24%, rgba(220, 0, 211, 0.73) 72.69%);
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; 
  letter-spacing: 1.2px;
  padding: 10px;
}


.pic-cnt {
  background-image: url(../public/pattern.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.pic-cnt div{
  background-image: url(../public/hero-sec-img.png);
  padding: 220px 200px 200px 200px; 
  background-repeat: no-repeat;
  background-position: bottom;

}


/* second section start here  */

.second-sec{
  padding: 100px 0px 0px 0px ;
}


.second-sec div div{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-sec div div p{
  color: white;

  font-family: Inter;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



/* third cnt  */
.btn-third-sec{
position: relative;
}
.btn-third-sec img{
  position: absolute;
  top: 0;
  left: 0;
}
.btn-third-sec button{
  top: 25%;
  left: 5%;
}
.third-cnt-child div h2{
  font-family: "Josefin Sans";
font-size: 35.612px;
font-style: normal;
font-weight: 600;
line-height: normal;

background: linear-gradient(91deg, #0CFAF5 0.1%, #8766E1 22.24%, rgba(220, 0, 211, 0.73) 72.69%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.third-cnt-child div h2 span{
  color: white;
  background-color: white;
  font-family: Inter;
  font-size: 30.926px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.third-cnt-child div p{
  color: white;
  font-family: Inter;
  font-size: 9.372px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.125px;
  text-transform: uppercase;
}
/* fouth child */
.foruth-child .image{
background-image: url(../public/fourth\ background.png);
background-repeat: no-repeat;
background-position: right;
background-size: contain;

}
.foruth-child h2{
  font-family: "Josefin Sans";
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(91deg, #0CFAF5 0.1%, #8766E1 22.24%, rgba(220, 0, 211, 0.73) 72.69%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.foruth-child h2 span{
    color: white;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foruth-child div p{
    color: white;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.btn-fourth-sec{
  position: relative;
}
.btn-fourth-sec img{
  position: absolute;
  top: 0;
  left: 0;
}
.btn-fourth-sec button{
    top: 25%;

}



/* fifth section  */
.fifth-sec .border-cnt{
  position: relative;
}
.fifth-sec .border-cnt svg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.foruth-child div h3{
      color: white;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.fifth-child div p{
      color: white;

    text-align: center;
    font-family: Inter;
    font-size: 8.719px;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 1.046px;
    text-transform: uppercase;
  }

.fifth-child .input-cnt {
  position: relative;
  z-index: 1;
}
.fifth-child .input-cnt svg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;  
}
.fifth-child .input-cnt div input{
  color: white;
  padding: 8px;
  position: relative;
  padding-left: 20px;
  z-index: 3;
  outline: none;

}
/* .fifth-child .input-cnt div input::placeholder{

} */
.fifth-child .input-cnt div button{
    position: relative;
    z-index: 3;
    outline: none;
    border: none;
    border-radius: 0px 23.79px 23.79px 0px;
      color: white;
      padding: 11px;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    background: linear-gradient(180deg, #61B0B3 0%, #DA03D3 100%);
      text-align: center;
}




/* sixth section starts from here  */
.sixth-child div h3{
    color: white;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.22px;
}

.sixth-child div p{
      color: white;

    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.32px;
    text-transform: uppercase;
}

/* .sixth-child div img{
  align-self: center;
  align-content: center;
} */

.sixth-child div a {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
}

.sixth-child div .first-spans{
    color: white;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.32px;
}

.sixth-child div .second-span{
  color: white;

font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.96px; 
}