@import "tailwindcss";



@media (min-width : 280px) and (max-width : 360px) {
  /* header */
  .head-cnt{
    max-width: 420px;
    width: 95%;
    background-position: 47.5% 0% ;
    background-size: 25%;
}
.head-cnt div .list img{
  width: 45px;
}
.head-cnt div .list a{
  font-size: 8px;
}

.head-cnt{
z-index: 9999;
}
  /* hero section  */
  .hero-sec{
    width: 100%;
    background-position: 100% 10%;
    background-size: 90%; 
    padding-right: 0px;
    padding-bottom: 50px !important;  
  }
  .main-sec{
    width: 98%;
    z-index: 0;
   display: flex;
  }
  .details-row{
    flex-direction: column !important;
    width: 98%;
  }
  .details-cnt{

    width: 100%;
    text-align: center;
    padding-bottom: 0px;
  }    
  .details-cnt div h1{
    font-size: 40px;
  }
  .details-cnt div h2{
    font-size: 30px;
  }
  .details-cnt .btn-blr img{
    top: 0%;
    left: 50%;
    transform: translate(-50%);
  }

    /* pic container  */
    .pic-cnt div{
      background-position: bottom;
      padding: 150px 120px 120px 120px !important;
      background-size: 90% !important;
      /* background-color: red; */
     }
     .details-row div{
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      width: 100%;
     }
     .details-cnt{
      padding-top: 15px;
     }
     .pic-cnt {
      padding-top: 50px;
      background-position: bottom;
      background-size: 90% !important;
     }




     /* third section is here  */
     .third-sec div{
      gap: 20px;
    }
    .third-cnt-child .second-pics{
      align-items: end;
      justify-content: center;
    }

    













  /* second sec  */
  .second-sec {
    padding-top: 20px;
    width: 98%;
  }
  .second-sec div{
    padding-top: 0px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;      
  }















/* third section  */
.third-sec{
  padding-bottom: 50px;

}
  .third-sec div{
    flex-direction: column-reverse;
    width: 98%;
    align-items: center;
  } 
  .third-cnt-child{
      flex-direction: column !important;
 }
 .third-cnt-child .first-pic{
  display: flex;
  margin-bottom: -20px;
  
 }
 .third-cnt-child .second-pics{
  display: flex;
  flex-direction: row;
 }
 .third-cnt-child .second-pics div{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: baseline;
  
 }
 .third-cnt-child div h2{
  text-align: center;
}
.third-cnt-child div p{
  text-align: center;
}
.btn-third-sec{
  display: flex;
  /* background-color: red; */
  justify-content: flex-start;
  align-items: center !important;
  padding-bottom: 20px;
}
.btn-third-sec button{
  width: 30%; 
  left: 0%; 
}
.btn-third-sec img{
  left: 50%;
  top: -10%;
  transform: translate(-50%);
} 







/* fourth section  */
.fourth-sec{
  padding-bottom: 20px;
}
.fourth-sec div {
  display: flex;
  flex-direction: column;
  width: 98%;
  gap: 30px;
}
.foruth-child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foruth-child div h2{
  text-align: center;
}
.foruth-child div p {
  text-align: center;
}
.foruth-child .btn-fourth-sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.foruth-child .btn-fourth-sec button{
  width: 30%;
}
.foruth-child .btn-fourth-sec img{
  left: 50%;
  transform: translate(-50%);
}

.foruth-child .image{
  background-position: 100% 0%;
}







  /* fifth child   */
  .fifth-sec .border-cnt {
    max-width: 260px;
    
  }
  .fifth-sec .border-cnt svg{
  max-width: 260px;
  z-index: 0;

  }
  .fifth-sec .border-cnt div{
    gap: 10px;
  }

  .input-div{
    width: 69%;
  }
.fifth-child div h3{
  font-size: 10px;
}
.fifth-child{
  padding-top: 20px;

}

.fifth-child div p{
  font-size: 5px;
}
.fifth-child .input-cnt{
  width: 200px;
  justify-content: center;
  align-items: center;
}
.fifth-child .input-cnt div{
  width: 60%;
  align-items: center;
  justify-content: center;
}
.fifth-child .input-cnt div input{
  font-size: 13.5px;
  z-index: 9999999999999999999;
}
.fifth-child .input-cnt svg{
  width: 200px;
  z-index: 0;

}
.fifth-child .input-cnt div button{
  padding: 5px;
  z-index: 9999999999999999999;
  }




  /* sixth section  */
  .sixth-sec{
    width: 98%;
    /* background-color: red; */
    padding-top: 20px;
    text-align: center;
  }
  .sixth-cnt .menu-child{
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  .sixth-last{
    display: flex;
    gap: 20px;
    flex-direction: column;
  } 
}

/* till 320 responsiveness  */
@media (min-width : 361px) and (max-width : 420px) {
  /* header */
  .head-cnt{
    max-width: 420px;
    width: 95%;
    background-position: 47.5% 0% ;
    background-size: 25%;
}
.head-cnt div .list img{
  width: 45px;
}
.head-cnt div .list a{
  font-size: 8px;
}

.head-cnt{
z-index: 9999;
}
  /* hero section  */
  .hero-sec{
    width: 100%;
    background-position: 100% 10%;
    background-size: 90%; 
    padding-right: 0px;
    padding-bottom: 50px !important;  
  }
  .main-sec{
    width: 98%;
    z-index: 0;
   display: flex;
  }
  .details-row{
    flex-direction: column !important;
    width: 98%;
  }
  .details-cnt{

    width: 100%;
    text-align: center;
    padding-bottom: 0px;
  }    
  .details-cnt div h1{
    font-size: 40px;
  }
  .details-cnt div h2{
    font-size: 30px;
  }
  .details-cnt .btn-blr img{
    top: 0%;
    left: 50%;
    transform: translate(-50%);
  }

    /* pic container  */
    .pic-cnt div{
      background-position: bottom;
      padding: 150px 120px 120px 120px !important;
      background-size: 90% !important;
      /* background-color: red; */
     }
     .details-row div{
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      width: 100%;
     }
     .details-cnt{
      padding-top: 15px;
     }
     .pic-cnt {
      padding-top: 50px;
      background-position: bottom;
      background-size: 90% !important;
     }




     /* third section is here  */
     .third-sec div{
      gap: 20px;
    }
    .third-cnt-child .second-pics{
      align-items: end;
      justify-content: center;
    }

    













  /* second sec  */
  .second-sec {
    padding-top: 20px;
    width: 98%;
  }
  .second-sec div{
    padding-top: 0px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;      
  }















/* third section  */
.third-sec{
  padding-bottom: 50px;

}
  .third-sec div{
    flex-direction: column-reverse;
    width: 98%;
    align-items: center;
  } 
  .third-cnt-child{
      flex-direction: column !important;
 }
 .third-cnt-child .first-pic{
  display: flex;
  margin-bottom: -20px;
  
 }
 .third-cnt-child .second-pics{
  display: flex;
  flex-direction: row;
 }
 .third-cnt-child .second-pics div{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: baseline;
  
 }
 .third-cnt-child div h2{
  text-align: center;
}
.third-cnt-child div p{
  text-align: center;
}
.btn-third-sec{
  display: flex;
  /* background-color: red; */
  justify-content: flex-start;
  align-items: center !important;
  padding-bottom: 20px;
}
.btn-third-sec button{
  width: 30%; 
  left: 0%; 
}
.btn-third-sec img{
  left: 50%;
  top: -10%;
  transform: translate(-50%);
} 







/* fourth section  */
.fourth-sec{
  padding-bottom: 20px;
}
.fourth-sec div {
  display: flex;
  flex-direction: column;
  width: 98%;
  gap: 30px;
}
.foruth-child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foruth-child div h2{
  text-align: center;
}
.foruth-child div p {
  text-align: center;
}
.foruth-child .btn-fourth-sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.foruth-child .btn-fourth-sec button{
  width: 30%;
}
.foruth-child .btn-fourth-sec img{
  left: 50%;
  transform: translate(-50%);
}

.foruth-child .image{
  background-position: 100% 0%;
}







  /* fifth child   */
  .fifth-sec .border-cnt {
    max-width: 260px;
    
  }
  .fifth-sec .border-cnt svg{
  max-width: 260px;
  z-index: 0;

  }
  .fifth-sec .border-cnt div{
    gap: 10px;
  }

  .input-div{
    width: 69%;
  }
.fifth-child div h3{
  font-size: 10px;
}
.fifth-child{
  padding-top: 20px;

}

.fifth-child div p{
  font-size: 5px;
}
.fifth-child .input-cnt{
  width: 200px;
  justify-content: center;
  align-items: center;
}
.fifth-child .input-cnt div{
  width: 60%;
  align-items: center;
  justify-content: center;
}
.fifth-child .input-cnt div input{
  font-size: 13.5px;
  z-index: 9999999999999999999;
}
.fifth-child .input-cnt svg{
  width: 200px;
  z-index: 0;

}
.fifth-child .input-cnt div button{
  padding: 5px;
  z-index: 9999999999999999999;
  }




  /* sixth section  */
  .sixth-sec{
    width: 98%;
    /* background-color: red; */
    padding-top: 20px;
    text-align: center;
  }
  .sixth-cnt .menu-child{
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  .sixth-last{
    display: flex;
    gap: 20px;
    flex-direction: column;
  } 

}




@media (min-width : 421px) and (max-width : 520px) {
  /* header */
  .head-cnt{
    max-width: 420px;
    width: 95%;
    background-position: 47.5% 0% ;
    background-size: 25%;
}
.head-cnt div .list img{
  width: 45px;
}
.head-cnt div .list a{
  font-size: 8px;
}

.head-cnt{
z-index: 9999;
}
  /* hero section  */
  .hero-sec{
    width: 100%;
    background-position: 100% 10%;
    background-size: 90%; 
    padding-right: 0px;
    padding-bottom: 50px !important;  
  }
  .main-sec{
    width: 98%;
    z-index: 0;
   display: flex;
  }
  .details-row{
    flex-direction: column !important;
    width: 98%;
  }
  .details-cnt{

    width: 100%;
    text-align: center;
    padding-bottom: 0px;
  }    
  .details-cnt div h1{
    font-size: 40px;
  }
  .details-cnt div h2{
    font-size: 30px;
  }
  .details-cnt .btn-blr img{
    top: 0%;
    left: 50%;
    transform: translate(-50%);
  }

    /* pic container  */
    .pic-cnt div{
      background-position: bottom;
      padding: 180px 150px 150px 150px !important;
      background-size: 90% !important;
     }
     .details-row div{
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      width: 100%;
     }
     .details-cnt{
      padding-top: 15px;
     }
     .pic-cnt {
      padding-top: 50px;
      background-position: bottom;
      background-size: 90% !important;
     }




     /* third section is here  */
     .third-sec div{
      gap: 20px;
    }
    .third-cnt-child .second-pics{
      align-items: end;
      justify-content: center;
    }

    



  /* second sec  */
  .second-sec {
    padding-top: 20px;
    width: 98%;
  }
  .second-sec div{
    padding-top: 0px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;      
  }








/* third section  */
.third-sec{
  padding-bottom: 50px;

}
  .third-sec div{
    flex-direction: column-reverse;
    width: 98%;
    align-items: center;
  } 
  .third-cnt-child{
      flex-direction: column !important;
 }
 .third-cnt-child .first-pic{
  display: flex;
  margin-bottom: -20px;
  
 }
 .third-cnt-child .second-pics{
  display: flex;
  flex-direction: row;
 }
 .third-cnt-child .second-pics div{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: baseline;
  
 }
 .third-cnt-child div h2{
  text-align: center;
}
.third-cnt-child div p{
  text-align: center;
}
.btn-third-sec{
  display: flex;
  /* background-color: red; */
  justify-content: flex-start;
  align-items: center !important;
  padding-bottom: 20px;
}
.btn-third-sec button{
  width: 30%; 
  left: 0%; 
}
.btn-third-sec img{
  left: 50%;
  top: -10%;
  transform: translate(-50%);
} 







/* fourth section  */
.fourth-sec{
  padding-bottom: 20px;
}
.fourth-sec div {
  display: flex;
  flex-direction: column;
  width: 98%;
  gap: 30px;
}
.foruth-child{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foruth-child div h2{
  text-align: center;
}
.foruth-child div p {
  text-align: center;
}
.foruth-child .btn-fourth-sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.foruth-child .btn-fourth-sec button{
  width: 30%;
}
.foruth-child .btn-fourth-sec img{
  left: 50%;
  transform: translate(-50%);
}

.foruth-child .image{
  background-position: 100% 0%;
}







  /* fifth child   */
  .fifth-sec .border-cnt {
    max-width: 360px;
    
    
  }
  .fifth-sec .border-cnt svg{
  max-width: 360px;
  z-index: 0;

  }
  .fifth-sec .border-cnt div{
    gap: 10px;
  }

  .input-div{
    width: 100%;
  }
.fifth-child div h3{
  font-size: 16px;
}
.fifth-child{
  padding-top: 10px;

}

.fifth-child div p{
  font-size: 10px;
}
.fifth-child .input-cnt{
  width: 200px;
  justify-content: center;
  align-items: center;
}
.fifth-child .input-cnt div{
  width: 60%;
  align-items: center;
  justify-content: center;
}
.fifth-child .input-cnt div input{
  font-size: 13.5px;
  z-index: 9999999999999999999;
}
.fifth-child .input-cnt svg{
  width: 200px;
  z-index: 0;

}
.fifth-child .input-cnt div button{
  padding: 6px;
  z-index: 9999999999999999999;
  }




  /* sixth section  */
  .sixth-sec{
    width: 98%;
    /* background-color: red; */
    padding-top: 20px;
    text-align: center;
  }
  .sixth-cnt .menu-child{
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  .sixth-last{
    display: flex;
    gap: 20px;
    flex-direction: column;
  } 

}

/* 520px  resposiveness*/
@media (min-width : 521px) and (max-width : 600px) {
  .hero-sec{
    width: 100%;
    background-position: 100% 10%;
    background-size: 90%; 
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .main-sec{
    max-width: 600px;
    width: 98%;
    z-index: 0;
  }
  .details-row{
    max-width: 600px;
    }
  .head-cnt{
    z-index: 9999;
  }
  .details-cnt{
    padding-bottom: 0px;
  }
  .details-cnt div h1{
    font-size: 45px;
  }
  .details-cnt div h2{
    font-size: 25px;
  }
  .details-cnt div p{
    font-size: 8px;
    padding-bottom: 10px;
  }
  .details-cnt{
    padding: 50px 0px 0px 0px;
  }
  /* second sec  */
  .third-sec div{
    max-width: 600px;
    width: 98%;
  }

  .fourth-sec div{
    max-width: 600px;
    width: 98%;
   }

   .pic-cnt div{
    background-position: center;
    padding: 150px 120px 120px 120px ;
    background-size: 130%;
   }
   .pic-cnt{
    padding-top: 50px;
    background-position: bottom;
    background-size: 100%;
   }
   .third-sec div{
    gap: 20px;
  }
  .third-cnt-child .second-pics{
    align-items: end;
    justify-content: center;
  } 
  .sixth-child div a{
    font-size: 14px;
  }
  .sixth-child{
    max-width: 600px;
    width: 100%;
  }
  .sixth-sec{
    max-width: 600px;
    width: 98%;
  }
  .sixth-sec .menu-child{
    gap: 0px;
    justify-content: space-around;
  }
  .sixth-sec{
    padding: 100px 5px 20px 5px;
  }


}

/* 700px responsiveness  */
@media (min-width : 601px) and (max-width : 700px) {

  .hero-sec{
    width: 100%;
    background-position: 100% 10%;
    background-size: 90%; 
    padding-right: 0px;  
  }
  .main-sec{
    max-width: 700px;
    width: 98%;
    z-index: 0;
  }
  .details-row{
    max-width: 700px;
    }
  .head-cnt{
    z-index: 9999;
  }
  .details-cnt{
    padding-bottom: 0px;
  }
  .details-cnt div h1{
    font-size: 55px;
  }
  .details-cnt div h2{
    font-size: 30px;
  }
  .details-cnt div p{
    font-size: 9px;
    padding-bottom: 10px;
  }
  .details-cnt{
    padding: 50px 0px 0px 0px;
  }
  /* second sec  */
  .third-sec div{
    max-width: 768px;
    width: 98%;
  }

  .fourth-sec div{
    max-width: 768px;
    width: 98%;
   }

   .pic-cnt div{
    padding: 200px 160px 160px 160px ;
   }
   .pic-cnt{
    padding-top: 70px;
   }
   .third-sec div{
    gap: 20px;
  }
  .third-cnt-child .second-pics{
    align-items: end;
    justify-content: center;
  }
}

/* tablet responsiveness  */
@media (min-width : 701px) and (max-width : 768px) {
    
  .hero-sec{
    width: 100%;
    background-position: 100% 0%;
    background-size: 80%; 
    padding-right: 0px;
    padding-bottom: 50px;  
  }
  .main-sec{
    max-width: 768px;
    width: 98%;
    z-index: 0;
  }
  .details-row{
    max-width: 748px;
    }
  .head-cnt{
    z-index: 9999;
  }
  .details-cnt{
    padding-bottom: 0px;
  }
  .details-cnt div h1{
    font-size: 60px;
  }
  .details-cnt div h2{
    font-size: 35px;
  }
  .details-cnt div p{
    padding-bottom: 10px;
  }
  .details-cnt{
    padding: 70px 0px 0px 8px;
  }
  /* second sec  */
  .third-sec div{
    max-width: 768px;
    width: 98%;
  }

  .fourth-sec div{
    max-width: 768px;
    width: 98%;
   }

}


/* hamburger media query  */
@media (max-width: 767px){
  .head-cnt{
    display: none;
    
  }
  .hamburger{
    position: absolute;
    display: flex !important;
    padding: 5px;
    top: 6px;
    left: 5px;
    z-index: 99999999;
  }
  .details-cnt{
    padding-left: 0px !important;
  }

}